<% unless @doc.nil? %> 
	<% @doc = root_url.chop + @mod.document_url%>
<% end %>
<a href="#">Course Video</a>
<a href="#">Display Notes</a>
<a href="#">Course Audio</a>

<div class="videos">
	<%= embed_video(@mod.video) %>
</div>

<div class="audios">
	<%= @mod.soundcloud_track.to_s.html_safe %>
</div>

<div class="notes">
	<%= @mod.post %>
</div>

<div class="docs">
	<iframe src="/pdfjs/web/viewer.html?file=<%=h @mod.document_url%>" style="border: 0" width="854" height="480" frameborder="0" scrolling="yes"></iframe>

	<%= @doc %>
</div>

<% if can? :create && :update, Mod %>
<%= link_to 'Edit', edit_user_course_mod_path(id: @mod.id) %> |
<% end %>
<%= link_to 'Back', :back %>
