<p id="notice"><%= notice %></p><br>
<% @mod.name %><br>
<%= @mod.description %><hr>
<%= @mod.post %>


<div>
	<%= embed_video(@mod.video) %>
</div>
<%= link_to 'Edit', edit_user_course_mod_path(id: @mod.id) %> |
<%= link_to 'Back', :back %>
