<div class="col-lg-3">
	<%= @user.email %>
	<% if can? :create, Course %>
	<%= link_to 'Create New Course', new_user_course_path(user_id: @user.id) %>
	<% end %>
</div>
<div class="col-lg-9">
	<div class="row">
		<% @user.courses.each do |a| %>
		<%= a.name %><br>
		<% end %>
	</div>

	<div class="row">
	<% @all.each do |b| %>	
	<%= b.name %>
		<% if can? :create, Course %>
			<%= link_to 'Manage Course', user_course_path(user_id: @user.id, id: b.id) %><br>
		<% else %>
			<%= link_to 'Enroll', user_course_path(user_id: @user.id, id: b.id) %><br>			
		<% end %>
	<% end %>
	</div>
</div>

