<div class="yielder container contd">

<!-- Here is the User bar to show various options and useful links -->
	<div class="col-lg-4 col-md-4 col-sm-12">
		<div class="user-bar">
			<% if @user.image.thumb.url.nil? %>
				<%= image_tag("profile.png", :class => "profile") %>
			<% else %>
		  		<%= image_tag @user.image.thumb.url %><br>
			<% end %>
				<p> Hi <%= @user.first_name %>, </p>

			<% if can? :create, Course %>
				<%= link_to new_user_course_path(user_id: @user.id) do %>
					<p><%= image_tag("add.png") %>
					Add a New Course</p>
				<% end %>
			<% end %>
				<%= link_to do %>
					<p><%= image_tag("help.png") %>
					Check Our Guide</p>
				<% end %>
				<%= link_to user_courses_path(user_id: @user.id) do %>
					<p><%= image_tag("catalog.png") %>
					Course Catalog</p>
				<% end %>
		</div>
	</div>
<!-- This Div contains the various courses that a Curator manages or that a User has enrolled for. -->
	<div class="col-lg-8 col-md-8 col-sm-12">
		<div class="row">
		<% if @user.courses.empty? and @user.role == 'user' %>
			<div class="single_course">
				<%= link_to image_tag("no-course.png"), user_courses_path(user_id: @user.id), class: "no-course" %>
			</div>
		<% elsif @user.courses.empty? and @user.role == 'curator' || 'curatorx'  %>
			<div class="single_course">
				<%= link_to image_tag("no-course.png"), user_courses_path(user_id: @user.id), class: "no-course" %>
			</div>
		<% else %>
			<% @user.courses.each do |course| %>
		        <!-- start single course -->
		        <div class="col-lg-6 col-md-6 col-sm-6">
		          <div class="single_course wow fadeInUp">
		            <div class="singCourse_imgarea">
					    <%= image_tag course.image.normal.url %>
		              <div class="mask">                         
		                <%= link_to 'View Course', user_course_path(user_id: @user.id, id: course.id ), class:"course_more" %>
		              </div>
		            </div>
		            <div class="singCourse_content">
		            <h3 class="singCourse_title"><%= link_to course.name, user_course_path(user_id: @user.id, id: course.id) %></h3>
		            <p class="singCourse_price"><span>$20</span> </p>
		            <p><%= course.description%></p>
		            <p><strong><%= course.timeline %></strong></p>
		            </div>
		            <div class="singCourse_author">
		              <!-- <img src="img/author.jpg" alt="img"> -->
		              <p>Instructor(s): <%= course.instructors%></p>
		            </div>
		          </div>
		        </div>
		        <!-- End single course -->
		    <% end %>
		<% end %>
		</div>
	</div>
</div>