<div class="col-lg-3">
	<%= @user.email %>
	<%= link_to "current_user_show", current_user %>
	<%= link_to 'Create New Course', new_user_course_path(user_id: @user.id) %>
</div>
<div class="col-lg-9">
	<div class="row">
	<% @user.courses.each do |a| %>
	<%= a.name %><br>
	<% end %>
	</div>

	<div class="row">
	This will contain courses similar to courses you are enrolled for<br>
	<% @all.each do |b| %>	
	<%= b.name %><br>
	<%= link_to 'Enroll', user_course_path(user_id: @user.id, id: b.id) %>
	<% end %>
	</div>
</div>

