<div class="col-lg-3">
  	<%= image_tag @user.image.thumb.url %><br>
	<p> Hi <%= @user.first_name %>, </p>

	<% if can? :create, Course %>
		<%= link_to 'Create New Course', new_user_course_path(user_id: @user.id) %>
	<% end %>
</div>

<div class="col-lg-9 ">
	<div class="card-group row">
	  <% @user.courses.each do |a| %>
	    <div class="card col-lg-3">
	        <%= image_tag a.image.thumb.url :class => 'card-img-top' %>
	        <div class="card-block">
	          <h4 class="card-title"><%= a.name %></h4>
	          <p class="card-text"> <%= a.description %> </p>
	          <p class="card-text"><small class="text-muted"> <%= a.timeline %></small></p>
	        </div>
	    </div>
	  <% end %>  
	</div>

	<hr>

	<div class="row">
		<% if @user.courses.empty? %>
			<p> We see you haven't taken any courses yet </p>
			<p> Choose One here</p>
		<% end %>
		<% @all.each do |b| %>	
		<%= b.name %>
			<% if can? :create, Course %>
				<%= link_to 'Manage Course', user_course_path(user_id: @user.id, id: b.id) %><br>
			<% else %>
				<%= link_to 'Enroll', user_course_path(user_id: @user.id, id: b.id) %><br>			
			<% end %>
		<% end %>
	</div>


</div>


