  <div class="form-group">
    <%= f.label :name, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.input_field :name, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>
  <div>
  	<%= f.label :description, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.input_field :description, class: "text-area form-control", html: {spellcheck: "true"} %>
    </div>
  </div>
  <div>
  	<%= f.label :timeline, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.input_field :timeline, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>  	
  </div>
  <div>
  	<%= f.label :instructors, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.input_field :instructors, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>    	
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>


