<div class="yielder container">
<!--   <div class="filter col-lg-3">
    
  </div> 
  TODO
  Add Filter and Search Functionailty here.
  -->
<!--   <div class="all-courses col-lg-9"> -->
    <div class="row">
      <% @courses.each do |course| %>
            <!-- start single course -->
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="single_course wow fadeInUp">
                <div class="singCourse_imgarea">
              <%= image_tag course.image.normal.url %>
                  <div class="mask">                         
                    <%= link_to 'View Course', user_course_path(id: course.id ), class:"course_more" %>
                  </div>
                </div>
                <div class="singCourse_content">
                <h3 class="singCourse_title"><%= link_to course.name, user_course_path(id: course.id) %></h3>
                <p class="singCourse_price"><span>$20</span> </p>
                <p><%= course.description%></p>
                <p><strong><%= course.timeline %></strong></p>
                </div>
                <div class="singCourse_author">
                  <!-- <img src="img/author.jpg" alt="img"> -->
                  <p>Instructor(s): <%= course.instructors%></p>
                </div>
                  <% if current_user.role == "curator" %>
                    <%= link_to 'Edit Course Information', edit_user_course_path(id: course.id), class: "btn btn-primary" %>
                  <% end %>                
              </div>
            </div>
            <!-- End single course -->
        <% end %>      
    </div>  
<!--   </div> -->

</div>