<div class="yielder container">
  <div class="filter col-lg-3">
    
  </div>
  <div class="all-courses col-lg-9">
    <div class="row">
      <% @courses.each do |course| %>
        <div class="card card-block col-lg-4">
          <%= link_to user_course_path(id: course.id) do %>
            <%= image_tag course.image.thumb.url :class => "card-img-top row", :alt => 'Card Image' %>
          <% end %>
            <div class="card-content">
              <h3 class="card-title"> <%= course.name %> </h3>
              <p class="card-text"> <%= course.description%> </p>
              <p class="card-text"> <%= course.timeline %> </p>
              <p class="card-text"><small class="text-muted"> <%= course.instructors %> </small></p>
            </div>
          <% if current_user.role == "curator" %>
            <%= link_to 'Edit Course Information', edit_user_course_path(id: course.id), class: "btn btn-primary" %>
          <% else %>
            <p> <%= link_to 'View this Course', user_course_path(id: course.id), class: "btn btn-primary" %> </p>
          <% end %>
        </div>
      <% end %>
    </div>  
  </div>

</div>