<p id="notice"><%= notice %></p>
<%= @course.name %>
<%= @course.description %>
<%= @course.timeline %>
<%= @course.instructors %>
<%= link_to 'Edit', edit_curator_course_path(id: @course.id) %>
<%= link_to 'Back', :back %>
