<p id="notice"><%= notice %></p>
<%= @course.name %>
<%= @course.description %>
<%= @course.timeline %>
<%= @course.instructors %>
   <% if can? :create && :update, Mod %>
	<%= link_to 'Back', :back %>
	<%= link_to 'Add New Module', new_user_course_mod_path(course_id: @course.id) %>
   <% else %>
	<%= link_to 'Start this Course here!', user_course_mods_path(course_id: @course.id) %>   
   <% end %> 

