<div class="yielder">
<p id="notice"><%= notice %></p>
	<div class="course-info">
	  	<%= image_tag @course.image.thumb.url :class => "course-img" %><br>
		<%= @course.name %><br>
		<%= @course.description %><br>
		<%= @course.timeline %><br>
		<%= @course.instructors %>	
	</div>
	   <% if can? :create && :update, Mod %>
		<%= link_to 'Back', :back %>
		<%= link_to 'Edit Course Details', edit_user_course_path %>
		<%= link_to 'Add New Module', new_user_course_mod_path(course_id: @course.id) %>
	   <% else %>
		<%= link_to 'Start this Course here!', user_course_path(course_id: @course.id) %>   
	   <% end %> 
</div>
