<div class="yielder container">
	<div class="course-info">
		<div class="course-header row">
			<h1> <%= @course.name %> </h1>
			<h5> <%= @course.description %> </h5>
		</div>

<!-- Show First Introductory Video on Course Page -->
		<div class="course-subhead row">
	  		<div class="col-lg-9 col-md-9 col-sm-12">
	  			<%if @course.mods.present? %>
	  				<%= embed_video(@course.mods.first.video) %>
	  			<% else %>
	  				<%= image_tag @course.image.large.url :class => "course-img img-responsive" %>
	  			<% end %>
	  		</div>
	  		<div class="course-action col-lg-3 col-md-12 col-sm-12">
	  		  	<p> <strong>Duration: </strong> <br> <%= @course.timeline %> </p>
	  		  	<p> <strong> Instructor(s): </strong> <br> <%= @course.instructors %> </p>
	  		  	<p> <strong>Lectures:</strong><br> 
	  		  	<% if @course.mods.nil? %>
	  		  		<p>No Course Modules added yet</p>
	  		  	<% end %>
	  		  	<% if current_user.present? %>
					<%= link_to 'Start Course here!', add_user_course_path(course_id: @course.id), class: "btn btn-primary" %>
				<% else %>
					<%= link_to 'Sign Up to take this Course', new_user_registration_path, class: "btn btn-primary" %>
				<% end %>
			   
	  		</div>

		</div>
	</div>	 
</div>